snippet Layout	"Keyboard Layout"
[${1:LayoutName}] = LAYOUT(
		KC_${2}, KC_${3}, KC_${4}, KC_${5},
		KC_${6}, KC_${7}, KC_${8}, KC_${9},
		KC_${10}, KC_${11}, KC_${12}, KC_${13},
		KC_${14}, KC_${15}, KC_${16}, KC_${17}
		),
${0}
endsnippet


snippet "<< "注释块"
/* ******
${1:New Section}
* ******/
${0}
endsnippet
